<div
    class="alert alert-danger mt-2 mb-2 d-flex align-items-center"
    *ngIf="errorMessage"
>
  <!--Si errorMessage existe alors on va afficher notre div pour le message d"erreur-->
  <!--Puis par la suite si l'utilisateur aura l'option de cliquer sur X pour fermer le message d'érreur de la page-->
  <span class="material-icons mr-2">error</span>
    {{ errorMessage }}
  <span class="material-icons ml-auto" (click)="hideErrorMessage()">
    close
  </span>
</div>
<h1>{{ pageTitle }}</h1>
<!--Formulaire pour ajout, modification et suppression d'une tâche /begin-->
<form novalidate  (ngSubmit)="saveTask()" [formGroup]="taskForm">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nouvelle Tâche"
      aria-describedby="basic-addon2"
      formControlName="taskName"
      (click) = "AddNavTask(selectedTaskInput.id)"
    >
    
    <div class="input-group-append">
      <button class="btn btn-outline-info" type="submit">Sauvegarder</button>
      <!--Si on choisi de créer une nouvelle tâche le bouton supprimer se mettra en disabled donc il ne marchera pas-->
      <button
        class="btn btn-outline-danger"
        type="button"
        [disabled]="selectedTaskInput?.id === 0"
        (click) = "deleteTask()"
      >
      Supprimer
    </button>
    </div>
  </div>
</form>
<!--Formulaire pour ajout, modification et suppression d'une tâche /end-->

<!--Message à l'utilisateur sur la validation du formulaire sur le champ taskName begin-->
<div *ngIf = "taskForm.get('taskName').invalid && 
        taskForm.get('taskName').errors && 
        (taskForm.get('taskName').dirty || taskForm.get('taskName').touched)">
  <div class="alert alert-warning mt-2 mb-2 d-flex align-items-center" *ngIf="taskForm.get('taskName').hasError('minlength')">
    La valeur entrer doit être supérieur ou égal à 3 caractères
  </div>
</div>
<!--Message à l'utilisateur sur la validation du formulaire sur le champ taskName end-->






<!--Va nous afficher sur notre  navigateur web les données du formulaires si on le decommente-->
<!--
<pre>
  {{ taskForm.value | json }}
</pre>
-->

<!--Va nous afficher sur notre  navigateur web l'état du formulaire du formulaires(valide ou non valide) si on le decommente-->
<!--
<pre>
  {{ taskForm.status | json }}
</pre>
-->
