<div
    class="alert alert-danger mt-2 mb-2 d-flex align-items-center"
    *ngIf="errorMessage"
>
  <!--Si errorMessage existe alors on va afficher notre div pour le message d"erreur-->
  <!--Puis par la suite si l'utilisateur aura l'option de cliquer sur X pour fermer le message d'érreur de la page-->
  <span class="material-icons mr-2">error</span>
    {{ errorMessage }}
  <span class="material-icons ml-auto" (click)="hideErrorMessage()">
    close
  </span>
</div>
<h1 class="rounded">{{ pageTitle }}</h1>
<!--Formulaire pour ajout, modification et suppression d'une tâche /begin-->
<form novalidate  (ngSubmit)="saveTask()" [formGroup]="taskForm">
  <div class="input-group mb-3">
    <!--Input begin-->
    <mat-form-field class="form-control example-full-width"  appearance="fill">
      <mat-label>Nouvelle Tâche</mat-label>
      <input class ="" matInput placeholder="Ex. Pizza" value="Sushi" formControlName="taskName" (click) = "AddNavTask(selectedTaskInput.id)">
    </mat-form-field>
    <!--Input end-->

    <div class="input-group-append">
      <!--Tant que le formulaire n'est pas valide le button pour sauvegarder les données entrer sera pas activer-->
      <button 
        class="btn btn-outline-info" 
        type="submit"
        [disabled]="taskForm.invalid"
      >
        Enregistrer
      </button>
      <!--Si on choisi de créer une nouvelle tâche le bouton supprimer se mettra en disabled donc il ne marchera pas-->
      <button
        class="btn btn-outline-danger"
        type="button"
        [disabled]="selectedTaskInput?.id === 0"
        (click) = "deleteTask()"
      >
        Supprimer
      </button>
    </div>
  </div>
</form>
<!--Formulaire pour ajout, modification et suppression d'une tâche /end-->

<!--Message à l'utilisateur sur la validation du formulaire sur le champ taskName begin-->
<div *ngIf = "taskForm.get('taskName').invalid &&
        taskForm.get('taskName').errors &&
        (taskForm.get('taskName').dirty || taskForm.get('taskName').touched)">

  <!--Pour dire à l'utilisateur que ce champ est obligatoire-->
  <div class="alert alert-warning mt-2 mb-2 d-flex align-items-center" *ngIf="taskForm.get('taskName').hasError('required')">
    Ce champ est obligatoire
  </div>

  <!--Dans le cas l'utilisateur entre une valeur inférieur à la valeur minimale autoriser sur le champ taskName du formulaire-->
  <div class="alert alert-warning mt-2 mb-2 d-flex align-items-center" *ngIf="taskForm.get('taskName').hasError('minlength')">
    La valeur minimale pour ce champ est de {{taskForm.get('taskName').errors['minlength'].requiredLength}} caractères.
  </div>

  <!--Dans le cas l'utilisateur entre une valeur excédant la maximale autoriser sur le champ taskName du formulaire-->
  <div class="alert alert-warning mt-2 mb-2 d-flex align-items-center" *ngIf="taskForm.get('taskName').hasError('maxlength')">
    La valeur maximale pour ce champ est de {{taskForm.get('taskName').errors['maxlength'].requiredLength}} caractères.
  </div>

</div>
<!--Message à l'utilisateur sur la validation du formulaire sur le champ taskName end-->






<!--Va nous afficher sur notre  navigateur web les données du formulaires si on le decommente-->
<!--
<pre>
  {{ taskForm.value | json }}
</pre>
-->

<!--Va nous afficher sur notre  navigateur web l'état du formulaire du formulaires(valide ou non valide) si on le decommente-->
<!--
<pre>
  {{ taskForm.status | json }}
</pre>
-->