<h1>{{ pageTitle }}</h1>
<form novalidate  (ngSubmit)="saveTask()" [formGroup]="taskForm">
  <div class="input-group mb-3">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Nouvelle Tâche" 
      aria-describedby="basic-addon2"
      formControlName="taskName"
      (click) = "AddNavTask(selectedTaskInput.id)"
    >
    <div class="input-group-append">
      <button class="btn btn-outline-info" type="submit">Sauvegarder</button>
      <button 
        class="btn btn-outline-danger" 
        type="button"
        [disabled]="selectedTaskInput?.id === 0"
        (click) = "deleteTask()"
      >
      Supprimer
    </button>
    </div>
  </div>
</form>


<!--Va nous afficher sur notre  navigateur web les données du formulaires si on le decommente-->
<!--
<pre>
  {{ taskForm.value | json }}
</pre>
-->
