<div class="container bg-light rounded">
  <!--Formulaire pour ajouter une nouvelle tâche begin-->
  <app-task-form></app-task-form>
  <!--Formulaire pour ajouter une nouvelle tâche end-->

  <!--Title begin-->
  <h2>{{ 'Voici la '+ titleTaslList }}</h2>
  <!--Title end-->

  <!--Code pour afficher la liste des tâches  avec *ngFor begin-->
  <mat-list>
    <div class="form-check mt-4" *ngFor="let task of tasks">
      <mat-list-item>
        <mat-checkbox class="example-marginform-check-input" #checkboxes id="{{task.id.toString()}}" (change)="CaseCocher($event)">{{ task.taskName }}</mat-checkbox>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="getSelectedId(task.id)">edit</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
  <!--Code pour afficher la liste des tâches avec *ngFor end-->

  <!--Code pour la progress bar begin-->
  <div class="progress">
  <div
    class="progress-bar progress-bar-striped"
    role="progressbar"
    [style.width.%]="progress"
    aria-valuemin="0"
    aria-valuemax="100"
    id = "myBar"
  >
    {{ progress }} %
  </div>
  </div>
  <!--Code pour la progress bar end-->

  <!--Bouton Reset begin-->
  <button
    type="button"
    class="btn btn-dark"
    (click) = "Reset()"
  >
    Reset
  </button>
  <!--Bouton Reset end-->

</div>